/* ******Fuentes Instaladas ******************/

@font-face {
    font-family:Woodlandand;
    src: url("..//DBCalcos/fuentes/woodland/Woodland.ttf");
}

@font-face {
    font-family:MerriWeather;
    src: url("..//DBCalcos/fuentes/Merriweather/Merriweather-Black.ttf"); 



}


body {
    /*Otro color que me gusta */
   /* background-color:#ddd9de; */
    background-color:#8AC3D6   

  }

  /*Sección Menu*/

  .menu{

    background-color: 4e9fbc;
  }

/*** Fin Fuentes */

.Contacto 
{ font-family:MerriWeather;
   h1 {
       font-size: 40px ;
        color: #0c3840;
       } 


    label {
          font-weight: bold;
          /* Para que queden alineados con el textbox */

          display:inline-block ;
          text-align: right;
          width: 180px;
          color: #1c535d;
         }   

        
         #btn_enviar {

                  /*Para alinear el botón enviar*/

                  /* Ver como hago para alinearlo con el text area */
                 
                  background-color:#1c535d;
                   color:azure;
                   font-weight: bold;
                   margin-left: 175px;
                 
                      } 

                   

 }