/* Variables Globales */
@font-face {
  font-family: MerriWeather;
  src: url("../fuentes/Merriweather/Merriweather-Black.ttf");
}
:root {
  font-family: "MerriWeather", Arial, Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
}

.menu {
  background-color: #15A0AA;
}
.menu a {
  color: white;
  border-radius: 5px;
}
.menu a:hover {
  background-color: #D2FBFA;
  color: #187D86;
  transition: 1s;
}

.menu-hamburguesa {
  background-color: #D2FBFA;
  color: red;
}

.boton-menu {
  background-color: linear-gradient(180deg, #15A0AA 0%, #1C646E 100%);
  color: #D2FBFA;
  transition: 1s;
  border: 1px solid #D2FBFA;
  border-radius: 5px;
}
.boton-menu:hover {
  background-color: #D2FBFA;
  color: #187D86;
  transition: 1s;
}

footer {
  background-color: #f2f9f9;
  color: #325158;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #1C646E;
}

a:hover {
  text-decoration: underline;
}

.ft-titulo {
  color: #1C646E;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.ft-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
  margin: 15px;
}
.ft-redes li {
  padding-top: 1.25rem;
  margin: 0.5rem;
  font-size: 1.25rem;
}
.ft-redes img {
  width: 30px;
  height: 30px;
}

.ft-redes-lista {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

.ft-legal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
  margin: 15px;
}
.ft-legal li {
  padding-top: auto;
  margin: 0.5rem;
  font-size: 1.25rem;
}

.ft-legal-lista {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

.ft-suscribe-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.contenedor-trabajo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contenedor-trabajo-item {
  overflow: auto;
  text-align: center;
  padding-bottom: 2.5rem;
  margin: 1.25rem;
  width: 100%;
}

.titulo-trabajo {
  display: block;
  font-size: 2.5rem;
  color: #0c3840;
  border-bottom: 1px #777 solid;
  text-align: center;
  margin: 1.25rem;
  transition: 1s;
  padding-top: 1.25rem;
}

.titulo-nostros {
  display: block;
  border-bottom: 1px #777 solid;
  margin: 1.25rem;
  padding-top: 1.25rem;
}

.sobre-nosotros {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  text-align: left;
  margin: 1.25rem;
  padding-top: 1.25rem;
}
.sobre-nosotros h2 {
  padding-top: 1.25rem;
}
.sobre-nosotros p {
  padding-bottom: 1.25rem;
}

.form-contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  text-align: left;
  margin: 1.25rem;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.form-contacto h1 {
  border-bottom: 1px #777 solid;
  padding-top: 1.25rem;
}

.titulo-contacto {
  display: block;
  border-bottom: 1px #777 solid;
  margin: 1.25rem;
  padding-top: 1.25rem;
}

.titulo-productos {
  display: block;
  border-bottom: 1px #777 solid;
  margin: 1.25rem;
  padding-top: 1.25rem;
}

.contenedor-productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  margin: 1.25rem;
}

.contenedor-productos-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.25rem;
}

.boton-carrito {
  background-color: #187D86;
  color: #D2FBFA;
  transition: 1s;
  border: 1px solid #D2FBFA;
  border-radius: 5px;
}
.boton-carrito:hover {
  background-color: #D2FBFA;
  color: #04191b;
  transition: 1s;
}/*# sourceMappingURL=style.css.map */