/* primero los partial que tienen solo variables, segregue las variables
por color. bg, fuentes */
@font-face {
  font-family: MerriWeather;
  src: url("../fuentes/Merriweather/Merriweather-Black.ttf");
  font-display: swap;
}
:root {
  font-family: "MerriWeather", Arial, Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
}

/* estilo parrafo pagina nosotros*/
@keyframes cambiarTamanioBanner {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.4);
  }
  40% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* boton pagina productos , boton agregar carrito */
.boton-carrito {
  background-color: #187D86;
  color: #D2FBFA;
  transition: 1s;
  border: 1px solid #D2FBFA;
  border-radius: 5px;
}
.boton-carrito:hover {
  background-color: #D2FBFA;
  color: #04191b;
  transition: 1s;
}

/* boton pagina contacto , boton enviar del formulario */
.boton-enviar {
  background-color: #187D86;
  color: #D2FBFA;
  transition: 1s;
  border: 1px solid #D2FBFA;
  border-radius: 5px;
}
.boton-enviar:hover {
  background-color: #D2FBFA;
  color: #04191b;
  transition: 1s;
}

.boton-acordeon {
  background-color: #187D86;
  color: #D2FBFA;
  transition: 1s;
  border: 1px solid #D2FBFA;
  border-radius: 5px;
}
.boton-acordeon:hover {
  background-color: #D2FBFA;
  color: #04191b;
  transition: 1s;
}

/* seccion nav */
.menu {
  background-color: #15A0AA;
}
.menu a {
  color: white;
  border-radius: 5px;
}
.menu a:hover {
  background-color: #D2FBFA;
  color: #04191b;
  transition: 1s;
}
.menu .menu-hamburguesa {
  background-color: #D2FBFA;
  color: red;
}
.menu .boton-menu {
  background-color: linear-gradient(180deg, #15A0AA 0%, #1C646E 100%);
  color: white;
  transition: 1s;
  border: 1px solid #D2FBFA;
  border-radius: 5px;
}
.menu .boton-menu:hover {
  background-color: #D2FBFA;
  color: #04191b;
  transition: 1s;
}

/*Footer*/
footer {
  background-color: #f2f9f9;
  color: #325158;
  line-height: 1.5;
  /* Seccion redes  */
  /* fin seccion redes */
  /* Seccion legal */
  /* fin footer*/
}
footer .ft-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 1px #777;
  padding-top: 1.25rem;
  margin: 15px;
}
footer .ft-redes li {
  padding-top: 1.25rem;
  margin: 0.5rem;
  font-size: 1.25rem;
}
footer .ft-redes img {
  width: 30px;
  height: 30px;
}
footer .ft-redes .ft-suscribe-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}
footer .ft-redes .ft-redes-lista {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-img-fb {
  text-decoration: none;
  color: blue;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-img-ig {
  text-decoration: none;
  color: #ee2a7b;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-img-tw {
  text-decoration: none;
  color: #00b8ff;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-img-wsap {
  text-decoration: none;
  color: green;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-texto-fb {
  text-decoration: none;
  color: black;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-texto-fb:hover {
  color: #1C646E;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-texto-ig {
  text-decoration: none;
  color: black;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-texto-ig:hover {
  color: #1C646E;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-texto-tw {
  text-decoration: none;
  color: black;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-texto-tw:hover {
  color: #1C646E;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-texto-wsap {
  text-decoration: none;
  color: black;
}
footer .ft-redes .ft-redes-lista .ft-redes-lista-texto-wsap:hover {
  color: #1C646E;
}
footer .ft-legal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
  margin: 15px;
}
footer .ft-legal li {
  padding-top: auto;
  margin: 0.5rem;
  font-size: 1.25rem;
}
footer .ft-legal .ft-legal-lista {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

/* Seccion Form de pagina de contacto */
.form-contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: left;
  margin: 1.25rem;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.form-contacto h1 {
  border-bottom: 1px #777 solid;
  padding-top: 1.25rem;
}

/*Pagina Contacto*/
.titulo-contacto {
  display: block;
  border-bottom: 1px #777 solid;
  margin: 1.25rem;
  padding-top: 0.25rem;
  text-align: center;
}

.texto-contacto {
  padding-top: 2.5rem;
  text-align: justify;
  overflow: auto;
  width: 100%;
}

/*seccion trabajos */
.titulo-trabajo {
  display: block;
  font-size: 2.5rem;
  color: #0c3840;
  border-bottom: 1px #777 solid;
  text-align: center;
  margin: 1.25rem;
  transition: 1s;
  padding-top: 0.25rem;
}

.contenedor-trabajo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.contenedor-trabajo .contenedor-trabajo-item, .contenedor-trabajo .accordion-item {
  overflow: auto;
  text-align: center;
  padding-bottom: 0.25rem;
  margin: 1rem;
  width: 100%;
}

.accordion-item {
  border: none;
}
.accordion-item .accordion-button {
  color: #04191b;
  font-weight: bold;
}
.accordion-item .accordion-button:not(.collapsed) {
  background: whitesmoke;
  box-shadow: none;
}
.accordion-item .accordion-button:not(.collapsed) .accordion-button:not(.collapsed):focus {
  box-shadow: none;
}
.accordion-item .accordion-button.collapsed {
  background: whitesmoke;
  box-shadow: none;
}
.accordion-item .accordion-button.collapsed .accordion-button.collapsed:focus {
  box-shadow: none;
}

.compartir-porfolio {
  list-style: none;
}

.porfolio-whatsap {
  color: green;
}
.porfolio-whatsap porfolio-whatsap:hover {
  color: green;
}

.titulo-productos {
  display: block;
  border-bottom: 1px #777 solid;
  margin: 1.25rem;
  padding-top: 0.25rem;
  text-align: center;
}

/* seccion productos */
.contenedor-productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  margin: 1.25rem;
}
.contenedor-productos .contenedor-productos-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.25rem;
}

.titulo-nostros {
  display: block;
  border-bottom: 1px #777 solid;
  margin: 1.25rem;
  padding-top: 0.25rem;
  text-align: center;
}

.foto-sobre-nosotros .foto-sobre-nosotros-img {
  width: 100%;
  overflow: auto;
  margin-bottom: 1.25rem;
  animation-name: cambiarTamanioBanner;
  animation-duration: 1s;
}

.sobre-nosotros, .foto-sobre-nosotros {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding-top: 0.25rem;
}
.sobre-nosotros h2, .foto-sobre-nosotros h2 {
  padding-top: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #04191b;
  font-weight: bold;
}
.sobre-nosotros p, .foto-sobre-nosotros p {
  padding-bottom: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #04191b;
}
.sobre-nosotros .sobre-nosotros-bloque-item, .foto-sobre-nosotros .sobre-nosotros-bloque-item {
  justify-content: center;
  text-align: justify;
}/*# sourceMappingURL=style.css.map */