/* Natalia Passarini- Enero 2024 */

/* ******Fuentes Instaladas ******************/

@font-face {
  font-family: Woodlandand;
  src: url("..//DBCalcos/fuentes/woodland/Woodland.ttf");
}

@font-face {
  font-family: MerriWeather;
  src: url("..//DBCalcos/fuentes/Merriweather/Merriweather-Black.ttf");
}

/*Modificar!!!! */
/* ********** FIn Fuentes ********************* */


body{
  
  background-color:#ddd9de; 
 
}



/* ******** menú de navegación *****************/

.Menu {
  /* Alineado izquierda 
                                      wrap para que ajuste al ancho de la pagina
                                       */
  display: flex;
  /*row direccion en fila y a parte que sea wrap es decir que no se desborde 
                                      (acomoda al ancho de la pagina o body. */
  flex-flow: row wrap;
  justify-content: left;
  background-color: #15A0AA;
  width: 100%;

  /* Fixed, para que el menu se quede fijo a medida que baje la página 
                                      (como inmobilizar paneles de excel. Puse relative porque no podia agregar nada ver eso */

  nav ul {
    /* Elimino viñeta*/
    list-style: none;
    /* para que todo contenido fuera del bloque del menú se corte y se invisibilice. */
    overflow: hidden;

  }


  nav ul li {
    /*que los menu se muestran horizontalmente y no uno debajo del otro*/
    float: left;
    font-family: MerriWeather;
    font-size: 20px;
  }

  nav ul li a {

    /* para crear bloques en el menu,  */
    display: flex;
    flex-flow: row wrap;
    /* *los elementos aparecen distribuidos uniformemente, y con un 
                                                                         espacio igual entre ellos. */
    justify-content: space-between;
    /* relleno */
    /* padding: 20px;*/
    color: #fff;
    text-decoration: none;
    text-justify: auto;

  }

  /* Uso pseudo clase hover para el relleno color amarillo 
                                                                              del menu en Hexa*/
  nav ul li a:hover {
    /* OTro color que me gsuta
                                                                                                  background: #eca023; */
    background: #FC1717;

  }


  nav ul li button {

    /*Elegi herencia porque no habia forma 
                                                                                          que me quede el boton centrado con el menu*/
    float: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;

    text-decoration: none;

    font-weight: bold;
    font-family: MerriWeather;
    font-size: 20px;
    color: black;
    cursor: pointer;
  }

  nav ul li button:hover {
    /* OTRO COLOR QUE me gusta
                                                                                                background: #eca023;*/

    background: #FC1717;

  }

}


.Contenedor-Cover-flow {

  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 80%;
  font-family: MerriWeather;

  h1 {
    font-size: 3rem;
    color: #0c3840;
    text-align: center;
    margin: 35px;
    transition: 1s;
  }



}


.Carrusel-img-NP {
  width: auto;
  height: 100dvh;
  /* max-height: 825px; */
}


.Ico-whatsaap {

  /* Lo fijo derecha y abajo */
  display: block;
  position: sticky;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  /*   float:right; */
  font-family: MerriWeather;
  font-size: 20px;
  color: #1c535d;

}


.img-whatsaap {
  width: 40px;
  height: 40px;
}
/* fin Modificar!!!! */

/*Footer General*/
footer {

  /* Position fixed + left =0  y el bottom = 0 para que quede fijado abajo a la izquierda en la página */
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: #C9C9C7;

  #sec-footer {
    display: inline-block;
    position: fixed;
    margin-left: 2%;
    /* lo deje en 15 porque me queda interlineado justo a la mitad*/
    bottom: 15px;
    text-align: left;

    font-family: MerriWeather;
    color: #1c535d;
    font-size: 15px;

  }
}


.fotter {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  /* background:#C9C9C7; */
  width: auto;
  height: auto;


}





.fotter__redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;

  align-items: center;

  padding-top: 20px;
  font-size: 20px;

}

.img-redes {
  width: 30px;
  height: 30px;


}


.fotter__copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: auto;
  height: auto;
  align-items: center;
  font-family: MerriWeather;
  font-size: 20px;

}