/*Pagina Contacto*/
.titulo-contacto {
	display: block;
	border-bottom: 1px $color_9 solid;
	margin: 1.25rem;
	padding-top: 0.25rem;
	text-align: center;
}


.texto-contacto{

	padding-top: 2.5rem;
	text-align: justify;
    overflow: auto;
	width:100%;
}