.titulo-contacto {
	display: block;
	border-bottom: 1px #777 solid;
	margin: 1.25rem;
	padding-top: 1.25rem;
	text-align: center;
}

.form-contacto {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: left;
	margin: 1.25rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;

	h1 {
		border-bottom: 1px #777 solid;
		padding-top: 1.25rem;
	}
}


.boton-enviar {
	background-color: $background-color_6;
	color: $color_4;
	transition: 1s;
	border: 1px solid #D2FBFA;
	border-radius: 5px;

	&:hover {
		background-color: $background-color_3;
		color: $color_8;
		transition: 1s;

	}
}
