.titulo-nostros {
	display: block;
	border-bottom: 1px $color_9 solid;
	margin: 1.25rem;
	padding-top: 0.25rem;
	text-align: center;
}



//seccion foto sobre nosotros
.foto-sobre-nosotros {

	@extend .sobre-nosotros;

	
	.foto-sobre-nosotros-img {
		width: 100%;
		overflow: auto;
		margin-bottom: 1.25rem;
	
	}

}



//seccion sobre nostros
.sobre-nosotros {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	margin-left : 3.50rem;
	margin-right: 3.5rem;
	padding-top: 0.25rem;


	h2 {
		padding-top: 1.25rem;
        @include estiloSubtitulosNosotros();
	}

	p {
		padding-bottom: 1.25rem;
        @include estiloParrafoNosotros(); 
	}



.sobre-nosotros-bloque-item {
	justify-content: center;
	text-align: justify;
}


}

