/*seccion trabajos */


.titulo-trabajo {
	display: block;
	font-size: 2.5rem;
	color: $color_7;
	border-bottom: 1px $color_9 solid;
	text-align: center;
	margin: 1.25rem;
	transition: 1s;
	padding-top: 0.25rem;
}

.contenedor-trabajo {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;


	.contenedor-trabajo-item {
		overflow: auto;
		text-align: center;
		padding-bottom: 0.25rem;
		margin: 1rem;
		width: 100%;
	
	}

}

// Acordeon porfolio
.accordion-item {
	border: none;

@extend .contenedor-trabajo-item;


	
	.accordion-button {
		color: $color_8;
		font-weight: bold;
	}

	.accordion-button:not(.collapsed) {
		background: $background-color_1;
		box-shadow: none;

		.accordion-button:not(.collapsed):focus {
			box-shadow: none;
		}

	}

	.accordion-button.collapsed {
		background: $background-color_1;
		box-shadow: none;

		.accordion-button.collapsed:focus {
			box-shadow: none;
		}

	}

}

.compartir-porfolio {

	list-style: none;

}

.porfolio-whatsap {
	color: $color_10;

	porfolio-whatsap:hover {
		color: $color_10;

	}
}