
/*seccion trabajos */

.titulo-trabajo {
	display: block;
	font-size: 2.5rem;
	color: $color_7;
	border-bottom: 1px $color_9 solid;
	text-align: center;
	margin: 1.25rem;
	transition: 1s;
	padding-top: 0.25rem;
}

.contenedor-trabajo {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;


	.contenedor-trabajo-item {
		overflow: auto;
		text-align: center;
		padding-bottom: 2.5rem;
		margin: 1.25rem;
		width: 100%;
	}

}