.titulo-productos {
	display: block;
	border-bottom: 1px #777 solid;
	margin: 1.25rem;
	padding-top: 1.25rem;
	text-align: center;
}

.contenedor-productos {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	text-align: center;
	margin: 1.25rem;
}

.contenedor-productos-item {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1.25rem;
}

.boton-carrito {
	background-color: $background-color_6;
	color: $color_4;
	transition: 1s;
	border: 1px solid #D2FBFA;
	border-radius: 5px;

	&:hover {
		background-color: $background-color_3;
		color: $color_8;
		transition: 1s;
	}
}