
.titulo-productos {
	display: block;
	border-bottom: 1px $color_9 solid;
	margin: 1.25rem;
	padding-top: 1.25rem;
	text-align: center;
}

/* seccion productos */
.contenedor-productos {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	text-align: center;
	margin: 1.25rem;

	.contenedor-productos-item {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 1.25rem;
	}

}// fin seccion productos 