/* Seccion Form de pagina de contacto */
.form-contacto {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: left;
	margin: 1.25rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
	h1 {
		border-bottom: 1px $color_9 solid;
		padding-top: 1.25rem;
	}
}



