/* seccion nav */
.menu {
	background-color: $background-color_2;

	a {
		color: $color_2;
		border-radius: 5px;

		&:hover {
			background-color: $background-color_3;
			color: $color_8;
			transition: 1s;
		}
	}
	.menu-hamburguesa {
		background-color: $background-color_3;
		color: $color_1;
	}
	.boton-menu {
		background-color: $background-color_4;
		color: $color_2;
		transition: 1s;
		border: 1px solid $color_4;
		border-radius: 5px;
		&:hover {
			background-color: $background-color_3;
			color: $color_8;
			transition: 1s;
		}
	}
}
// fin seccion menu