
$background-color_1: whitesmoke;
$background-color_2: #15A0AA;
$background-color_3: #D2FBFA;
$background-color_4: linear-gradient(180deg, #15A0AA 0%, #1C646E 100%);
$background-color_5: #f2f9f9;
$background-color_6: #187D86;
