/* boton pagina productos , boton agregar carrito */
.boton-carrito {
		background-color: $background-color_6;
		color: $color_4;
		transition: 1s;
		border: 1px solid $color_4;
		border-radius: 5px;
	
		&:hover {
			background-color: $background-color_3;
			color: $color_8;
			transition: 1s;
		}
	}
    /* boton pagina contacto , boton enviar del formulario */
    .boton-enviar {
        background-color: $background-color_6;
        color: $color_4;
        transition: 1s;
        border: 1px solid $color_4;
        border-radius: 5px;
        &:hover {
            background-color: $background-color_3;
            color: $color_8;
            transition: 1s;
        }
    }
    
    
