
@keyframes cambiarTamanioBanner{

0% {
    transform: scale(1);
}

20% {
    transform: scale(.4);
}

40% {
    transform: scale(.7);
}

60% {
    transform: scale(.9);
}

80% {
    transform: scale(.9);
}
100% {
    transform: scale(1);
}

}